.new-ticket {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 580px;
    font-size: 22px;
    border: 1px solid black;
    background-color: white;
}

.new-ticket__title {
    background-color: black;
    color: white;
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    border-top: 1px solid white;
    padding: 8px 0;
    height: 50px;
}


.new-ticket__bottom {
    margin: 15px;
}

.new-ticket__bet, .new-ticket__total {
    display:flex;
    justify-content: space-between;
    width: 350px;
    font-weight: 600;
    margin: 15px 30px;
}

.bet__input {
    width: 130px;
    text-align: center;
    border: none;
    border-bottom: 1px solid grey;
}

.total__number {
    text-align: center;
    width: 130px;
    border-bottom: 1px solid grey;
}

.new-ticket__button {
    display: block;
    height: 40px;
    background-color: black;
    color: white;
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    border: 1px solid black;
    padding: 3px;
}

.new-ticket__button:hover {
    background-color: red;
    color: black;
}

.new-ticket__popup {
    display: flex;
    justify-content: space-around;
    height: 40px;
}

.new-ticket__yes, .new-ticket__no {
    height: 40px;
    text-align: center;
    width: 30%;
    color: white;
    font-weight: 600;
    font-size: 22px;
    padding-top: 3px;
    border: 1px solid black;
    background-color: black;
}

.new-ticket__no:hover {
    background-color: red;
}

.new-ticket__yes:hover {
    background-color: darkgreen;
}

.new-ticket__pairs {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    height: 325px;
}

.pairs__pair {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    width: 100%;
    border-bottom: 1px dashed black;
    height: 100px;
    padding: 0 5px 10px 5px;
}

.pair__wrapper {
    display:flex;
}

.pair__delete {
    font-size: 17px;
    font-weight: 900;
    width: 25px;
    color:black;
    background-color: red;
    border: 1px solid black;
    text-align: center;
    height: 25px;
}

.ticket-pair__time{
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ticket-pair__teams {
    height: 40px;
    margin-top: 15px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    text-align: center;
}

.ticket-pair__details {
    display: flex;
    flex-direction: column;
    width: 30%;
    font-size: 15px;
    height: 50px;
}

.ticket-pair__bettype, .ticket-pair__quota, .ticket-pair__sport {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.new-ticket__warning {
    height: 20px;
    color:red;
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 5px;
}

.display-none {
    display: none;
}

.new-ticket__disclaimer{
    font-size: 10px;
    height: 15px;
    margin: 0;
    padding: 0;
}