.account {
    display: flex;
    flex-wrap: wrap;
}

.account__column--left, .account__column--right {
    display: flex;
    flex-direction: column;
    height: 671px;
    width: 461px;
    justify-items: center;
    background-color: darkgreen;
}

.account__tickets {
    width: 614px;
}
