.account {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    width: 1536px;
    margin: auto;
}

.account__column--left, .account__column--right {
    display: flex;
    flex-direction: column;
    height: 670px;
    width: 460px;
    justify-items: center;
    background-color: darkgreen;
}

.account__tickets {
    width: 614px;
    height: 670px;
    display: flex;
    justify-content: center;
}
