.week-nav {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    width: 459px;
    height: 200px;
}

.week-nav__row {
    display:flex;
    justify-content: space-between;
}

.weekday-button {
    width: 159px;
    height: 66px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: white;
    background-color: black;
    border: 1px solid white;
    z-index: 2;
}

.weekday-button:hover, .weekday-button--selected {
    color: black;
    background-color: red;
}

.weekday-button--wide {
    width: 320px;
}