
.balance-payment {
    background-color: white;
    font-size: 22px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
    margin-top: 220px;
    padding-bottom: 20px;
}

.balance-payment__funds {
    width: 100%;
    border: 1px solid white;
    background-color: black;
    color: white;
    font-size: 22px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    padding: 10px 90px 10px 12px;
}

.balance-payment__payment {
    width: 100%;
    padding: 12px;
    display: flex;
    justify-content: space-between;
}

.balance-payment__button {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.balance-payment__button button{
    width: 430px;
    height: 40px;
    border: 1px solid black;
    background-color: red;
    justify-content: center;
    margin-top: 10px;
}

.balance-payment__popup {
    display: flex;
    justify-content: space-around;
    height: 40px;
}

.balance-payment__yes, .balance-payment__no {
    height: 40px;
    text-align: center;
    width: 30%;
    color: white;
    font-weight: 600;
    font-size: 22px;
    padding-top: 3px;
    border: 1px solid black;
    background-color: black;
    margin: 0px;
}

.balance-payment__no:hover {
    background-color: red;
}

.balance-payment__yes:hover {
    background-color: darkgreen;
}

.payment__input {
    width: 130px;
    text-align: center;
    border: none;
    border-bottom: 1px solid grey;
}

.balance-payment__warning {
    height: 10px;
}

.warning__message {
    color:red;
    font-weight: 600;
    font-size: 15px;
    margin-left: 15px;
}

.display-none {
    display: none;
}