.navbar {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 0;
}

.navbar__element {
    width: 26.5%;
    height: 50px;
    margin: 0;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 30px;
    color:white;
    text-decoration: none;
    text-align: center;
    border-left: 1px solid white;
}

.navbar__element--right {
    border-right: 1px solid white;
}

.navbar__element:hover {
    color:red;
    text-decoration: none;
}