.account__transactions {
    background-color: white;
    height: 500px;
    border: 1px solid black;
    width: 100%;
    margin-top: 75px;
}

.transactions__titles {
    display: flex;
    justify-content: space-between;
}

.titles__title {
    border: 1px solid white;
    background-color: black;
    color: white;
    font-weight: 600;
    height: 50px;
    width: 130px;
    text-align: center;
    font-size: 20px;
    padding-top: 8px;
}

.titles__title--left {
    border-left: none;
    width: 120px;
}

.titles__title--centerleft {
    border-right: none;
    border-left: none;
    width: 100px;
}

.titles__title--centerright {
    border-right: none;
    width: 100px;
}

.titles__title--right {
    border-right: none;
    width: 185px;
}

.transactions {
    overflow-y: scroll;
    height: 445px;
}

.transaction {
    width: 430px;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 15px;
    border-bottom: 1px dashed black;
}

.transaction__time {
    width: 50px;
    text-align: center;
}

.transaction__balance {
    width: 60px;
    text-align: center;
}

.transaction__type {
    width: 120px;
    text-align: center;
}