main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: sans-serif;
    margin: auto;
}

.left-column, .right-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 461px;
    height: 671px;
    background-color: darkgreen;
    border: 1px solid black;
}

.offer {
    width: 1536px;
    margin:auto;
    border: 1px solid black;
}